---
layout: default
---

<h1>Song Huang</h1>
<div class="mb">{{ site.description }}</div>
<a href="{{ '/posts' | absolute_url }}">
  <div class="mb">
    <div>Posts</div>
    <div class="hint">{{ '/posts' | absolute_url }}</div>
  </div>
</a>
<a href="https://github.com/songhuangcn">
  <div class="mb">
    <div>GitHub</div>
    <div class="hint">https://github.com/songhuangcn</div>
  </div>
</a>

<!-- * Posts: [{{ '/posts' | absolute_url }}]({{ '/posts' | absolute_url }})
* Project: [{{ '/projects' | absolute_url }}]({{ '/projects' | absolute_url }})
* GitHub: [https://github.com/songhuangcn](https://github.com/songhuangcn) -->
