---
layout: default
---

<h1>Song Huang</h1>

<p>A web developer in Guangzhou, China.</p>

<a href="{{ '/posts' | absolute_url }}">
  <dl>
    <dt>Posts</dt>
    <dd>{{ '/posts' | absolute_url }}</dd>
  </dl>
</a>

<a href="https://github.com/songhuangcn">
  <dl>
    <dt>GitHub</dt>
    <dd>https://github.com/songhuangcn</dd>
  </dl>
</a>

<!-- * Posts: [{{ '/posts' | absolute_url }}]({{ '/posts' | absolute_url }})
* Project: [{{ '/projects' | absolute_url }}]({{ '/projects' | absolute_url }})
* GitHub: [https://github.com/songhuangcn](https://github.com/songhuangcn) -->
